<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="mobilestests.RiotMiscTests"/>
      <class name="mobilestests.RiotDirectMessagesTests"/>
      <class name="mobilestests.RiotMessagesReceptionTests"/>
      <class name="mobilestests.RiotVoipTests"/>
      <class name="mobilestests.RiotLoginTests"/>
      <class name="mobilestests.RiotRoomInvitationTests"/>
      <class name="mobilestests.RiotRegisterTests"/>
      <class name="mobilestests.RiotE2eEncryptionTest"/>
      <class name="mobilestests.RiotNoConnectionTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
