<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="mobilestests_android.RiotLoginTests"/>
      <class name="mobilestests_ios.RiotLoginTests_ios"/>
      <class name="mobilestests_android.RiotDirectMessagesTests"/>
      <class name="mobilestests_ios.RiotE2eEncryptionTests_ios"/>
      <class name="mobilestests_android.RiotSearchTests"/>
      <class name="mobilestests_android.RiotNoConnectionTests"/>
      <class name="mobilestests_android.RiotRoomInvitationTests"/>
      <class name="mobilestests_android.RiotE2eEncryptionTests"/>
      <class name="mobilestests_android.RiotMessagesReceptionTests"/>
      <class name="mobilestests_android.RiotMiscTests"/>
      <class name="mobilestests_android.RiotVoipTests"/>
      <class name="mobilestests_android.RiotRegisterTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
